BACKEND_IMAGE=registry.gitlab.com/ton-groupe/gestionimpression3d/backend

FRONTEND_IMAGE=registry.gitlab.com/ton-groupe/gestionimpression3d/frontend

IMAGE_TAG=latest

ASPNETCORE_ENVIRONMENT=Production

APPLY_MIGRATIONS=false

SA_PASSWORD=

JWT_KEY=

JWT_ISSUER=

JWT_AUDIENCE=

SQLSERVER_PORT=1434

BACKEND_PORT=8081

FRONTEND_PORT=8082