<aside class="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <span style="font-size: 1.5rem;">🖨️</span>
            <span>PrintFlow3D</span>
        </div>
    </div>
    <nav class="nav">
        <div class="nav-item active" routerLink="/dashboard"
            routerLinkActive="active">📊 Tableau de bord</div>
        <div class="nav-item" routerLink="/kanban"
            routerLinkActive="active">🔄 Cycle de vie</div>
        <div class="nav-item" routerLink="/pieces"
            routerLinkActive="active">📦 Pièces</div>
        <div class="nav-item" routerLink="/commercial"
            routerLinkActive="active">💰 Commercial</div>
        <div class="nav-item">⚙️ Paramètres</div>
    </nav>
</aside>